@import "tailwindcss";


.dark {
  background: #0d0d0d !important;
  color: #ffffff !important;
}

.dark .ant-layout,
.dark .ant-layout-content,
.dark .ant-layout-header,
.dark .ant-layout-sider {
  background: #131313 !important;
  color: #fff !important;
}

.dark .ant-input,
.dark .ant-select-selector,
.dark .ant-btn {
  background-color: #333333 !important;
  color: #ffffff !important;
  border-color: #555555 !important;
}
.dark .ant-btn-primary {
  background-color: #0447ff !important;
  color: #ffffff !important;
  border-color: #555555 !important;
}

.dark .ant-btn-danger {
  color: #ff1c1c !important;
  border-color: #333333 !important;
}

.dark .ant-btn-link {
  border-color: #333333 !important;
}

.dark .ant-skeleton {
  background-color: #2a2a2a !important;
}

.dark .ant-skeleton-element,
.dark .ant-skeleton-title,
.dark .ant-skeleton-paragraph > li {
  background-color: #8b8b8b !important;
}

.dark .ant-input::placeholder, 
.dark .ant-select-selection-placeholder {
  color: #808080 !important;
}

.dark .ant-select {
  background-color: #333333 !important;
  color: #ffffff !important;
}

.dark .ant-card,
.dark .ant-card-body,
.dark .ant-card-head,
.dark .ant-card-head-title,
.dark .ant-card-actions,
.dark .ant-card-actions > li {
  background-color: #1a1a1a !important;
  color: #ffffff !important;
  border-bottom: #ffffff 1px solid !important;
}

.dark .ant-list-item{
  background-color: #3a3a3a !important;
  color: #ffffff !important;
}

.dark .ant-pagination-item {
  background-color: #3a3a3a !important;
}

.dark .ant-pagination-item a {
  color: #ffffff !important;
}

.dark .ant-pagination-item-link {
  color: #ffffff !important;
}

.dark .ant-empty-description {
  color: #ffffff !important;
}

.dark .ant-descriptions .ant-descriptions-item-label {
  color: #ffffff !important;
}

.dark .ant-descriptions th {
 background-color: #383838 !important;
 border: #ffffff 1px solid !important;
}

.dark .ant-descriptions .ant-descriptions-item-content {
  color: #ffffff !important;
  border: #ffffff 1px solid !important;
}

.dark .ant-input-affix-wrapper {
  background-color: #333 !important;
  border-color: #555 !important;
}

.dark .ant-typography,
.dark .ant-typography span {
  color: #ffffff !important;
}

.dark .ant-modal-content,
.dark .ant-modal-header,
.dark .ant-modal-body,
.dark .ant-modal-footer {
  background: #383838 !important;
  color: #fff !important;
}

.dark label {
  color: #fff !important;
}

.dark .ant-modal-title {
  color: #fff !important;
}

.dark .ant-modal-close-x {
  color: #fff !important;
}

.dark .ant-input,
.dark .ant-input-number,
.dark .ant-input-affix-wrapper,
.dark .ant-input-textarea textarea {
  background: #111 !important;
  color: #fff !important;
  border-color: #333 !important;
}

.dark .ant-table,
.dark .ant-table-container,
.dark .ant-table-thead > tr > th {
  background: #302f2f !important;
  color: #fff !important;
}

.dark .ant-table-tbody > tr > td {
  background: #2c2c2c !important;
  color: #fff !important;
}


.dark .ant-btn-default {
  background: #222 !important;
  color: #fff !important;
  border-color: #333 !important;
}

.dark input::placeholder,
.dark textarea::placeholder,
.dark .ant-input::placeholder,
.dark .ant-input-textarea::placeholder {
  color: #aaa !important;
  opacity: 1 !important;
}

.dark .ant-input-number,
.dark .ant-input-number-input {
  background: #111 !important;
  color: #fff !important;
  border-color: #333 !important;
}

.dark .ant-select-selection::placeholder {
  color: #ffffff !important;
}

.dark .ant-select-selector {
  background: #111 !important;
  color: #fff !important;
  border-color: #333 !important;
}

.dark .ant-select-item-option-content {
  color: #fff !important;
  background-color: #1a1a1a !important;
}

.dark .ant-modal-container {
  background-color: #383838 !important;
} 

.dark .ant-modal-confirm-title {
  color: #fff !important;
}

 